.changephoto {
  min-height: 85vh;
  > h2 {
    font: 700 2rem $text;
    color: #495057;
    text-align: center;
    padding: 2rem 0;
  }
  > div:first-of-type {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    > img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  > div:last-of-type {
    > form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 4rem;
      width: 40%;
      margin: auto;
      > input {
        border: none;
        width: 100%;
        margin: auto;
        font: 400 1rem $navText;
        color: #495057;
        &::-webkit-file-upload-button {
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 100%;
          padding: 10px;
          border: 2px solid #d4a373;
          border-radius: 4px;
          background-color: #d4a373;
          transition: all ease-in-out 0.5s;
          font: 400 1rem $navText;
          letter-spacing: 1px;
          cursor: pointer;

          &:hover {
            scale: 1.1;
          }
        }
      }
      > button {
        padding: 0.7rem 1rem;
        border-radius: 4px;
        border: none;
        background-color: #d4a373;
        font: 700 1rem $navText;
        color: white;
        letter-spacing: 1px;
        cursor: pointer;
      }
      > a {
        margin-left: auto;
        > button {
          padding: 0.7rem 1rem;
          border-radius: 4px;
          border: none;
          background-color: #484645;
          font: 700 1rem $navText;
          color: white;
          letter-spacing: 1px;
          cursor: pointer;
        }
      }
    }
  }
}
