.getallblogs {
  min-height: 90vh;
  margin-top: 2rem;
  > h1 {
    font: 700 1.5rem $text;
    text-align: center;
    color: #495057;
    padding-bottom: 1.5rem;
  }
  > .blogs_container {
      overflow-x: auto;
      > table {
      font-family: $navText;
      color: #495057;
      border-collapse: collapse;
      width: 100%;

      td,
      th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;

      }
      td:nth-child(3) {
        > img {
          height: 80px;
        }
      }
      td:nth-child(4) {
        
        > button {
          
          padding: 0.4rem 1rem;
          margin-bottom: 1.5rem;
          width: 100%;
          border: none;
          background-color: #363a3e;
          color: white;
          font: 400 1rem $navText;
          cursor: pointer;          

          &:first-child {
            >a{
                color: white;
            }
          }
          &:last-of-type{
            margin-bottom: 0;
          }
          
         
        }
      }
    }
  }
}
